<%= form_with(model: tour_package, local: true) do |form| %>
  <% if tour_package.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tour_package.errors.count, "error") %> prohibited this tour_package from being saved:</h2>

      <ul>
      <% tour_package.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :tour_package_user_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :tour_package_name %>
  </div>

  <div class="field">
    <%= form.label :age_from %>
    <%= form.number_field :age_from, id: :tour_package_age_from %>
  </div>

  <div class="field">
    <%= form.label :age_upto %>
    <%= form.number_field :age_upto, id: :tour_package_age_upto %>
  </div>

  <div class="field">
    <%= form.label :max_people %>
    <%= form.number_field :max_people, id: :tour_package_max_people %>
  </div>

  <div class="field">
    <%= form.label :cost_per_person %>
    <%= form.text_field :cost_per_person, id: :tour_package_cost_per_person %>
  </div>

  <div class="field">
    <%= form.label :last_submission_date %>
    <%= form.date_select :last_submission_date, id: :tour_package_last_submission_date %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :tour_package_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
