<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="col-lg-12 col-md-12 col-xs-12 h2 text-center roboto">Welcome to TourPack</div>

  <%#= react_component('TourPack', 
                      {:presenter => @tour_packages.to_json}) %>
  <div class="col-lg-12">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-danger pull-right", :style => "margin-left:10px") %>        
    <% end %>
    <% if current_user.is_admin? %>
      <%= link_to "<i class='fa fa-plus'></i> Create Tour Package".html_safe, new_tour_package_path, :remote => true, :class => "btn btn-primary pull-right","data-toggle" => "modal", "data-target" => "#tourPack" %>
    <% end %>
  </div>
  <div class="col-lg-12 col-md-12">
    <div class="searchBox form-inline mt-20 mb-10">
      <%= form_with(url: search_tour_packages_path, :method => :get, local: true, html: {:style => "display: inline-block;width:30%;"}) do |form| %>
        Search <input type="search" name="q" class="form-control" value="<%= params[:q] if params[:q] %>"> <%= "(#{@tour_packages.total_count} matchs)" if action_name == "search" %>
      <% end %>
      <%= form_with(url: filter_tour_packages_path, :method => :get, local: true, html: {:style => "display: inline-block;width:69%;"}) do |form| %>
        <select data-placeholder="Choose a source..." name="source" class="chosen-select">
          <option value=""></option>
          <% @start_points.each do |point| %>
            <option value="<%= point %>"><%= point %></option>
          <% end %>
        </select>
        <select data-placeholder="Choose a destination..." name="destination" class="chosen-select">
          <option value=""></option>
          <% @end_points.each do |point| %>
            <option value="<%= point %>"><%= point %></option>
          <% end %>
        </select>
        <select data-placeholder="Choose a date..." name="date" class="chosen-select">
          <option value=""></option>
          <% @start_dates.each do |date| %>
            <option value="<%= date %>"><%= date %></option>
          <% end %>
        </select>
      <% end %>
    </div>
    <div class="flexContainer">
      <%= render :partial => "tour_pack_list" %>
    </div>
  </div>
  <div class="text-center">
    <%= will_paginate @tour_packages %>
  </div>

  <%= render :partial => "tour_pack_modal" %>
</div>
<script type="text/javascript">
  $(".chosen-select").chosen({width: "30%"});
  <% if params[:source] and (params[:source] != "") %>
    $(".chosen-select[name='source']").val("<%= params[:source] %>").trigger("chosen:updated");
  <% end %>
  <% if params[:destination] and (params[:destination] != "") %>
    $(".chosen-select[name='destination']").val("<%= params[:destination] %>").trigger("chosen:updated");
  <% end %>
  <% if params[:date] and (params[:date] != "") %>
    $(".chosen-select[name='date']").val("<%= params[:date] %>").trigger("chosen:updated");
  <% end %>
  $('.chosen-select').on('change', function(e) {
    $(this).closest("form").submit();
  });
</script>