<div class="form-inline mb-10">
	<div class="form-group">
	    <%= label_tag :name %>
	    <%= text_field_tag "name[]",destination.name, {:class => "form-control"} %>
	</div>
	<div class="form-group">
	    <%= label_tag :point %>
	    <%= select_tag "point[]",options_for_select(["Start","Intermediate","End"],:selected => destination.point), {:class => "form-control"} %>
	</div>
	<div class="form-group">
		<%= label_tag :date %>
		<%= date_field_tag "date[]", destination.date, :class => "form-control" %>
	</div>
	<div class="form-group">
		<button class="btn btn-danger removeParent"><i class="fa fa-close"></i></button>
	</div>
</div>